APIwithAuth/bin/
APIwithAuth/obj/Debug/
APIwithAuth/obj/
DataModel/obj/
ExternalModels/bin/
ExternalModels/obj/
ManagementUI/bin/
ManagementUI/obj/
WebUI/bin/
WebUI/obj/
DataModel/bin/
ISF/bin/
ISF/obj/
TestHelpers/bin/
TestHelpers/obj/
UnitTests/bin/
UnitTests/obj/
MVCHelpers/bin/
MVCHelpers/obj/

/DataModel/*.user
*.user
/*.suo

/UniversalTypeConverter/UniversalTypeConverter/bin
/UniversalTypeConverter/UniversalTypeConverter/obj

/MVCHelpers/*.user
/DataModel/*.user
**/bin/
**/obj/

/UniversalTypeConverter/UniversalTypeConverter/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/UniversalTypeConverter/UniversalTypeConverter/obj/Debug
/UniversalTypeConverter/UniversalTypeConverter/bin/Debug

/APIwithAuth/obj
APIwithAuth/obj/
APIwithAuth/obj/Debug/*.cache


/APIwithAuth.v12.suo

/WebUI/*.user
/APIwithAuth/*.user
*.bak
/packages
